CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

driver/ProcessingScripts

build/*

*.trace
*.tdg
*.profile
*.bc
*.ll
*.s
*.pyc
*.o
*.cache
*.data
*.exe
*.txt
*.pdf
