CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

dirver/

build/*

*.trace
*.tdg
*.profile
*.bc
*.ll
*.s
*.pyc
*.o
*.cache
*.data
*.exe
*.txt
*.pdf
*_pb2.py
*.csv
*.json

.vscode
